JavaApplication9/xml-resources/web-service-references/Servicio/wsdl/172.16.83.163_8000/Servicios/Servicio.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://Servicio" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://Servicio"><xs:import schemaLocation="http://172.16.83.163:8000/Servicios/Servicio?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><xs:element name="AgregarVecino"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="AgregarVecinoResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="AgregarVecinoResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="ListaVecinos"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="ListaVecinosResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ListaVecinosResult" nillable="true" type="q1:ArrayOfstring" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/></xs:sequence></xs:complexType></xs:element></xs:schema>